@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Parisienne&display=swap');

:root {
  --font-logo: 'Parisienne', cursive;
  --font-sans: 'Inter', Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  @apply bg-[#e5e1da] text-black dark:bg-[#0a0a0a] dark:text-[#ededed];
  font-family: var(--font-sans);
}
